/* pc */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet & mobile */
@media (max-width: 991.98px) {
  /* ẩn navbar trên table và mobile */
  .navbar {
    display: none;
  }
  /* chuyển đổi logo và giữa */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }

  /* căn lại vị trí của menu icon */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }

  /* overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    inset: 0;
    z-index: 1;
    /* bth ẩn lớp phủ đi */
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  /* kiểm tra checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* menu drawer */
  .menu-drawer {
    position: fixed;
    background-color: rgb(94, 92, 92);
    inset: 0 40% 0 0;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* kiểm tra nếu checkbox được check hiện menu */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0%);
  }

  /* menu top */
  .close__menu {
    width: 24px;
    color: #fff;
  }

  .menu-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }

  #navbar__list--mobile {
    margin-top: 25px;
  }

  .navbar__link {
    display: block;
    font-style: 2rem;
  }

  .navbar__link:hover {
    background-color: #78a499;
  }

  /* Khoi hero */
  .hero {
    flex-direction: column;
    row-gap: 50px;
  }

  /* xác định thứ tự hiện thị */
  .hero__content {
    order: 2;
  }

  .hero__media {
    order: 1;
  }

  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }

  .hero__row {
    justify-content: center;
  }

  /* khối services */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }

  .service__img {
    width: 100%;
  }

  .service__list {
    text-align: center;
  }

  .service-item {
    width: 90%;
    text-align: start;
  }

  /* Khoi works */
  .work .section-heading {
    text-align: center;
  }

  .work__desc {
    width: 468px;
    margin: 25px auto 0;
    text-align: center;
  }

  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  /* Khoi action */
  .action__row {
    flex-direction: column;
    row-gap: 30px;
  }

  .action__media {
    width: 100%;
  }

  .action__img-before {
    display: none;
  }

  .action__img-after {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }

  .action__content {
    width: 90%;
    text-align: center;
  }

  /* Khoi teams */
  .teams__list {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }

  .team-img {
    margin: 0 auto;
  }

  /* Khoi install */
  .install__img {
    display: none;
  }

  .install__content {
    width: 90%;
    margin: 0 auto;
  }

  /* khoi blog */
  .blog__row {
    flex-direction: column;
    row-gap: 20px;
  }

  .blog__content {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .blog__heading {
    max-width: 90%;
  }

  .blog__list {
    margin: 0 auto;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-hidden-tablet {
    display: none;
  }

  .footer__top {
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }

  .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media (max-width: 767.98px) {
  .header__action {
    display: none;
  }

  .menu-header__icon {
    top: 16px;
  }

  .menu-drawer {
    /* max-width: 35%; */
    inset: 0 10% 0 0;
    padding: 40px;
  }

  .navbar__item {
    list-style-type: none;
  }

  .separate {
    border-top: 1.5px solid #979797;
    margin-top: 10px;
  }

  /* hero */
  .hero__img-small {
    display: none;
  }

  .hero__img-large {
    width: 100%;
    height: auto;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__row {
    flex-direction: column;
    row-gap: 24px;
  }

  /* service */
  .service {
    padding: 70px 0;
  }

  .section-desc {
    width: 93%;
  }

  .service__img {
    height: auto;
  }

  /* work */
  .work__desc {
    width: 100%;
  }

  .work-item {
    padding: 20px;
  }

  /* action */
  .action {
    margin-top: 20px;
    padding: 40px 0;
  }

  .section-heading {
    font-size: 3rem;
  }

  /* teams */
  .teams__list {
    grid-template-columns: 1fr;
  }

  /* install */
  .install {
    margin: 40px 0;
    padding: 0 8px;
  }

  .install__content {
    min-width: 250px;
  }

  .install__desc {
    font-size: 1.3rem;
  }

  /* blog */
  .blog__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .blog__heading {
    text-align: center;
  }

  /* cta */
  .cta__heading {
    padding: 30px 5px;
  }

  /* footer */
  .footer__top {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }

  .footer__copyright {
    margin-top: 20px;
  }
}
